{% extends "base.html" %}

{% block tabs %}
    {% if not request.REQUEST.initial %}
        <ul class="nav nav-tabs">
            <li class="{% if request.current_view == 'settings_profile' %}active{% endif %}">
                <a href="{% url settings_profile %}">Profile</a>
            </li>
            <li class="{% if request.current_view == 'settings_feeds' %}active{% endif %}">
                <a href="{% url settings_feeds %}">Feeds</a>
            </li>
            <li class="{% if request.current_view == 'settings_company' %}active{% endif %}">
                <a href="{% url settings_company %}">Company</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span5">
            {% block form %}
            {% endblock %}
        </div>
        {% with request.user.profile.company as company %}
            <div class="span4 offset2 well">
                <h4>
                    Your company blog is live!
                </h4>
                <div class="pull-right">
                    <img class="img-polaroid fixed-width" src="{{ company.logo }}">
                </div>
                <small>
                    The {{ company }} feed is up at
                    <a href="http://{{ request.META.HTTP_HOST }}{% url feed_company request.user.profile.company.domain %}">
                        http://{{ request.META.HTTP_HOST }}{% url feed_company request.user.profile.company.domain %}
                    </a>.
                    Share this with your friends!
                </small>
            </div>
        {% endwith %}
    </div>
{% endblock %}
