{% extends "base_branded.html" %}

{% block tabs %}
    {% if not request.REQUEST.initial %}
        <ul class="nav nav-tabs">
            <li class="{% if request.current_view == 'settings_profile' %}active{% endif %}">
                <a href="{% url 'settings_profile' %}">Profile</a>
            </li>
            <li class="{% if request.current_view == 'settings_feeds' %}active{% endif %}">
                <a href="{% url 'settings_feeds' %}">Feeds</a>
            </li>
            <li class="{% if request.current_view == 'settings_company' %}active{% endif %}">
                <a href="{% url 'settings_company' %}">Company</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span5">
            {% block form %}
            {% endblock %}
        </div>
        {% with request.user.profile.company as company %}
            <div class="span4 offset2 well">
                <h4>
                    Your company blog is live!
                </h4>
                {% if company.logo %}
                    <div class="pull-right">
                        <img class="img-polaroid fixed-width" src="{{ company.logo }}">
                    </div>
                {% endif %}
                <small>
                    You company has a
                    <a href="http://{{ request.META.HTTP_HOST }}{% url 'feed_company' request.user.profile.company.domain %}">
                        live feed
                    </a> on {{ request.SITE_NAME }}.
                </small>
                {% with url=request.current_url|urlencode %}
                    {% include "_share.html" %}
                {% endwith %}
            </div>
        {% endwith %}
    </div>
{% endblock %}
