{% extends "settings/base.html" %}

{% load crispy_forms_tags %}

{% block form %}
    <form method="post">
        <legend>Your Company</legend>
        {% if other_users %}
            <div class="alert">
                <p>
                    <h4>Remember!</h4> 
                    There are other users in your company who share these settings.
                </p>
                {% for profile in other_users %}
                    <img class="img-polaroid fixed-height" src="{{ profile.picture_url }}" title="{{ profile.full_name }}">
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        {% if request.REQUEST.initial %}
            <input class="btn btn-primary" type="submit" value="Finish">
            <a href="{% url 'my_company' %}" class="btn btn-secondary">Skip</a>
        {% else %}
            <input class="btn btn-primary" type="submit">
        {% endif %}
    </form>
{% endblock %}
