{% extends "settings/base.html" %}

{% block content %}
    <div class="row">
        <div class="span4 offset1">

            {% if request.user.profile %}
                <legend>Your Linked Accounts</legend>
                <dl>
                    {% for provider, account in request.user.profile.possible_accounts.items %}
                    <dt>{{ provider|title }}</dt>
                    <dd>
                        {% if provider == "github" %}
                            Hook up your GitHub accout to display your recent public repository commits in your company feed.
                        {% endif %}
                        {% if provider == "stackoverflow" %}
                            Gook up your Stackoverflow account to displauy your recent questions and responses in your company feed.
                            {% endif %}
                        <p>
                            {% if account %}
                                <a href="{% url socialauth_disconnect provider %}?next={{ next_url }}" class="btn">disconnect</a>
                            {% else %}
                                <a href="{% url socialauth_begin provider %}?next={{ next_url }}" class="btn btn-primary">connect</a>
                            {% endif %}
                        </p>
                    </dd>
                    {% endfor %}
                </dl>
            {% endif %}

            {% if request.REQUEST.initial %}
                <a href="{% url settings_company %}?initial=True" class="btn btn-primary">Next</a>
                <a href="{% url settings_company %}?initial=True" class="btn btn-secondary">Skip</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
