{% extends "settings/base.html" %}

{% load crispy_forms_tags %}

{% block form %}
    <form method="post">
        <legend>Your Profile</legend>
        {% csrf_token %}
        {{ form|crispy }}
        {% if request.REQUEST.initial %}
            <input class="btn btn-primary" type="submit" value="Next">
            <a href="{% url settings_feeds %}?initial=True" class="btn btn-secondary">Skip</a>
        {% else %}
            <input class="btn btn-primary" type="submit">
        {% endif %}
    </form>
{% endblock %}
