django
git+git://github.com/chase-seibert/django-social-auth.git@master=social_auth==0.7.18
django-celery
feedparser
python-dateutil
BeautifulSoup
Pygments
bleach
dj-database-url
psycopg2
gunicorn
gevent
south
