<ul class="share">
    <li>
        <a class="twitter" href="https://twitter.com/share?text={{ text }}&url={{ url }}">
            Share on Twitter
        </a>
    </li>
    <li>
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}">
            Share on Facebook
        </a>
    </li>
    <li>
        <a class="linkedin" href="http://www.linkedin.com/shareArticle?url={{ url }}&title={{ text }}&summary={{ summary }}">
            Share on LinkedIn
        </a>
    </li>
    <li>
        <a class="google" href="https://plus.google.com/share?url={{ url }}">
            Share on Google+
        </a>
    </li>
</ul>
