{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/pygments.css' %}" type="text/css" media="screen" />

{% if request.user.is_authenticated %}
    <ul class="header">
        <li>Welcome, {{ request.user.username }}</li>
        {% if request.user.profile.company %}
            <li><a href="{% url feed_company request.user.profile.company.domain %}">home</a></li>
        {% else %}
            <li><a href="{% url home %}">home</a></li>
        {% endif %}
        <li><a href="{% url profile %}">profile</a></li>
        <li><a href="{% url logout %}">logout</a></li>
    </ul>
{% else %}
    <ul class="header">
        <li> <a href="{% url home %}">home</a></li>
        <li> <a href="{% url socialauth_begin 'google-oauth2' %}?{{ redirect_querystring }}">login</a></li>
    </ul>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% endblock %}
