{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title%}{{ request.SITE_NAME }}: {{ request.SITE_TAGLINE }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/pygments.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen" />
        <meta property="og:url" content="{{ request.current_url }}"/>
        <meta property="og:site_name" content="{{ request.SITE_NAME }}"/>
        <meta property="og:type" content="blog"/>
        {% block opengraph %}{% endblock %}
    </head>
    <body>

        {% block header %}
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        {% if request.company %}
                            <a class="brand" href="{% url feed_company request.company.domain %}">
                                {{ request.SITE_NAME }}: {{ request.company }}
                            </a>
                        {% else %}
                        <a class="brand" href="/">{{ request.SITE_NAME}}</a>
                        {% endif %}
                        <div class="nav-collapse collapse">

                            {% if request.user.is_authenticated %}
                                <ul class="nav pull-right">
                                    <li><a href="{% url settings_profile %}">Profile</a></li>
                                    <li><a href="{% url logout %}">Logout</a></li>
                                </ul>
                            {% else %}
                                <ul class="nav pull-right">
                                    <li><a href="{% url socialauth_begin 'google-oauth2' %}?{{ redirect_querystring }}">Login/Signup</a></li>
                                </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="row-fluid">
            {% if messages %}
                <div class="span8 offset2 vertical-offset1">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="span10 offset1 vertical-offset1">
                {% block tabs %}{% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
