{% extends "base.html" %}

{% block content %}

    <div class="span8">

        {% if content_list %}
            {% for content in content_list %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-polaroid" src="{{ content.user.profile.picture_url }}" width="50px" title="{{ content.user.profile }}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{ content.link }}">
                                {{ content.title }}
                            </a>
                        </h4>
                        <span class="muted">{{ content.date }}</span>
                        by {{ content.user.first_name }}
                        <p>
                            {{ content.body|safe }}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <div class="pagination">
                <ul>
                    {% if content_list.has_previous %}
                        <li><a href="?page={{ content_list.previous_page_number }}" class="prev">Prev</a></li>
                    {% else %}
                        <li class="disabled prev"><a href="#">Prev</a></li>
                    {% endif %}
                    {% for page in pages %}
                        {% if page %}
                            {% ifequal page content_list.number %}
                                <li class="current page active"><a href="#">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                    {% if content_list.has_next %}
                        <li><a href="?page={{ content_list.next_page_number }}" class="next">Next</a></li>
                    {% else %}
                        <li class="disabled next"><a href="#">Next</a></li>
                    {% endif %}
                </ul>
            </div>

        {% else %}
            <div class="alert">
                {% if request.user.is_authenticated and request.company == company %}
                    <h4>Your company has no activity.</h4>
                    Go to <a href="{% url settings_feeds %}">Profile > Feeds</a> to add your personal activity into your company feed.
                {% else %}
                    <h4>This company has no activity.</h4>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <div class="span4">

        {% if request.user.is_authenticated and request.company == company %}
            <div class="well">
                <h3>Refer your friends</h3>
                {% with url=request.current_url|urlencode %}
                    {% include "_share.html" %}
                {% endwith %}
            </div>
        {% endif %}

        <div class="well about-company">
            <div class="pull-right">
                <img class="img-polaroid fixed-width" src="{{ company.logo }}">
            </div>
            <h3>
                About {{ company }}
            </h3>
            <address>
                {{ company.location }}
            </address>
            <div class="description">
                <p>
                    {{ company.description }}
                </p>
                <div class="users">
                    <h4>Who are we?</h4>
                    {% for user in company.users %}
                        <div class="media">
                            {% if user.profile.picture_url %}
                            <a href="{{ user.profile.blog_url }}" class="pull-left">
                                <img class="img-polaroid fixed-width" src="{{ user.profile.picture_url }}" title="{{ user.profile.full_name }}">
                            </a>
                            {% endif %}
                            <div class="media-body">
                                <h5 class="media-heading">{{ user.profile }}</h5>
                                {{ user.profile.title }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
