{% extends "base.html" %}

{% block opengraph %}
    <meta property="og:title" content="{{ request.SITE_TAGLINE }}"/>
    <meta property="og:image" content=""/>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="hero-unit">

        <div class="row-fluid">
            <h1>{{ request.SITE_NAME }}: <small>{{ request.SITE_TAGLINE }}</small></h1>
        </div>

        <div class="row-fluid vertical-offset1">

            <div class="span8">
                <p>
                    <ol>
                        <li>Login with Google Apps</li>
                        <li>Link your GutHub, Stackoverflow and personal blog</li>
                        <li>Your content will be merged into a feed for your team</li>
                    </ol>
                </p>
                {% if recent_companies %}
                    <p>
                        <h3>Example feeds</h3>
                        {% for company in recent_companies %}
                            <div class="media">
                                <a class="pull-left" href="{% url feed_company company.domain %}">
                                    <img class="img-polaroid fixed-height" src="{{ company.logo }}">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{% url feed_company company.domain %}">{{ company }}</a></h4>
                                    {{ company.description|truncatewords:20 }}
                                </div>
                            </div>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>

            <div class="span3 offset1">
                <p>
                    <a class="btn btn-primary btn-large" href="{% url socialauth_begin 'google-oauth2' %}?{{ redirect_querystring }}">
                        Sign Up - Free!
                    </a>
                    {% if recent_users %}
                        <p>
                            <h3>Who's In?</h3>
                            {% for user in recent_users %}
                                {% if user.profile.picture_url %}
                                    <img class="img-polaroid fixed-width" src="{{ user.profile.picture_url }}" title="{{ user.profile.full_name }}">
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </p>
            </div>

        </div>

    </div>

    <a href="https://github.com/chase-seibert/advocoders"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

{% endblock %}
