{% extends "base.html" %}

{% block content %}

    {% if content_list %}
        <ul>
            {% for content in content_list %}
                <li>
                    {{ content.date }}:
                    <a href="{{ content.link }}">{{ content.title }}</a>
                    <p>
                    <img src="{{ content.user.profile.picture_url }}" height="50px">
                    {{ content.user.first_name }}
                    </p>
                    <p>
                        {{ content.body|safe }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if content_list.has_previous %}
                <a href="?page={{ content_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ content_list.number }} of {{ content_list.paginator.num_pages }}.
            </span>

            {% if content_list.has_next %}
                <a href="?page={{ content_list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
