pre pre {
    border: none;
}

.highlight .err {
    border: none;
}

pre {
    font-size: 12px;
}

.fixed-height {
    height: 1em;
}

.fixed-width {
    width: 50px;
}

.vertical-offset1 {
    margin-top: 1em;
}

.margin {
    margin: 1em;
}

form > label,
form .control-group > label {
    font-weight: bold;
}

label[for="id_blog"] {
    font-weight: normal !important;
}

textarea {
    width: 100%;
}
